<h1>Listing books</h1>

<table>
  <tr>
    <th>id</th>
    <th>Isdn</th>
    <th>Name</th>
    <th>Author</th>
    <th>Publisher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
   <%= form_tag('/books/req') do -%>
   <tr>
      <td><%= book.id %></td>
      <td><%= book.isdn %></td>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
      <td><%= book.publisher %></td>
      <td>
        <% book.user_books.each do |u| %>
          <span>
            <img src="<%= u.img %>" alt="<%= u.twitter_id %>">
            <%= check_box("twitter_id", u.twitter_id) %>
          </span>
        <% end %>
      </td>
      <td><%= link_to 'Show', book %></td>
      <td><%= link_to 'Edit', edit_book_path(book) %></td>
      <td><%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %></td>
      <%= hidden_field_tag 'id', book.id %>
      <td><%= submit_tag 'rent me'%></td>
    </tr>
  <% end -%>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
